body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea,blockquote,th,td{color:#424041;cursor:default;font-family:Tahoma,Helvetica,Arial,sans-serif;font-size:12px;margin:0;padding:0}
/*body{background-color: #f5f5f5;color:#333;font-family:Arial,Helvetica,sans-serif;font-size:11px;width:1000px;margin:0 auto !important}*/
body {
    line-height: 1.5;
}
body {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    font-family: '宋体';
    color: #505050;
    -webkit-text-size-adjust: none;
    background: #fff;
}
/*common*/
a {
    color: #333;
    text-decoration: none;
}
/*layout*/
.top{
    width: 100%;
    background: #f0f0f0;
    border-bottom: 1px solid #e1e3e3;
    height: 30px;
    position: relative;
    z-index: 99999;
}
.head{
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
.head .logo{
    float:left;
    width: 220px;
    margin: 15px 0px 15px 0px;
}
.head .banner{
    float:right;
    width:780px;
}

.navigators{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.nav-menu ul {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    background: #417999 url(../cngold_nav.png) 0 0 repeat-x;
    overflow: hidden;
}
.nav-menu li {
    float: left;
    width: 100px;
    text-align: center;
    line-height: 40px;
    font-family: "Microsoft Yahei";
    background: url(../img/peopleim_nav.png) right -80px no-repeat;
    overflow: hidden;
}
.nav-menu li a {
    font-size: 14px;
}
.nav-menu li a {
    color: #fff;
    font-size: 15px;
    display: block;
    text-decoration: none;
}
.nav-menu li a:hover {
    background: #ba3022;
    background: -moz-linear-gradient(top,#C34232,#AD261A);
    background: -webkit-gradient(linear,0 0,0 100%,from(#C34232),to(#AD261A));
    color: #fff;
    text-decoration: none;
}
.nav-menu li.kx{
    width: 125px;
    text-align: left;
}
.nav-menu li.kx a cite {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    background: url(../img/index_img_kx.gif) no-repeat;
    margin: 12px 6px 0 12px;
    overflow: hidden;
}
.quote-nav {
    width: 1000px;
    margin: 0 auto;
    background: #E4ECF2;
    height: 25px;
    line-height: 26px;
    border-bottom: 1px solid #E4ECF2;
    color: #505050;
    text-align: center;
}
.main{
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
}
.main-left {
    width: 300px;
    float: left;
    margin-right: 10px;
    border-right: 1px solid #F0F0F0;
    overflow: hidden;
}
/*border*1 + margin*10*/
.main-right {
    width: 689px;
    float: right;
    overflow: hidden;
}

.section{
    float:left;
}
.footer{
    width: 100%;
    border-top: 1px solid #E6E6E6;
    background: #F0F0F0;
    padding: 10px 0 20px;
    overflow: hidden;
}
.footer .foot{
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E6E6;
}
.footer .social {
    width: 260px;
    float: right;
    overflow: hidden;
}
.social li {
    float: right;
    width: 80px;
    margin-left: 50px;
}
.footer .copyright{
    width: 1000px;
    margin: 0px auto;
    padding-top: 30px;
    border-top: 1px solid #F8F8F8;
    text-align: center;
}


/*module*/
.topmenu {
    width: 1000px;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
}
.topmenu ul {
    display: block;
}
.topmenu li {
    line-height: 30px;
}
.topmenu-pop {
    float: left;
    height: 30px;
    margin-right: 1px;
}
.topmenu-pop a {
    color: #505050;
    text-decoration: none;
    line-height: 31px;
    display: block;
    padding: 0 10px;
    cursor: pointer;
}
.topmenu-pop a:hover, .topmenu-pop a.on {
    color: #fff;
    text-decoration: none;
    background: #BA3022;
}

.topmenu-pop ul, li {
    list-style-type: none;
}

.topmenu-pop .tel {
    margin-left: 15px;
    display: block;
    background: url(../img/peopleim_sprite.png) -540px -56px no-repeat;
    padding-left: 20px;
}


.topic{
    width:300px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
    -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
}
.topic .title{

}
.topic h3 {
    border-top: 2px solid #BDC4CB;
    border-bottom: 1px solid #F4F4F5;
    height: 27px;
    line-height: 27px;
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.topic ul {
    border-top: 1px dotted #E9E9E9;
    margin-top: 5px;
    padding-top: 5px;
}
.topic .list24 li {
    height: 24px;
    line-height: 24px;
    background: url(../img/peopleim_sprite.png) -657px -77px no-repeat;
    text-indent: 13px;
    overflow: hidden;
}


.columnTab {
    width: 100%;
    height: 248px;
    border-top: 2px solid #417999;
    overflow: hidden;
}
.columnTab .hd {
    height: 28px;
    position: relative;
    overflow: hidden;
}
.columnTab .hd ul {
    float: left;
    width: 688px;
    border-left: 1px solid #DDDDDD;
    background: #FAFAFA;
    position: absolute;
    height: 28px;
}
.columnTab .hd li {
    float: left;
    width: 171px;
    height: 27px;
    line-height: 27px;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #F0F0F0;
    text-align: center;
    cursor: pointer;
}
.columnTab .hd li.on {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.columnTab h3, .column-box h4 {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    line-height: 30px;
}

.columnTab .list30 li {
    height: 30px;
    line-height: 30px;
    background: url(../img/peopleim_sprite.png) -650px -74px no-repeat;
    text-indent: 20px;
    overflow: hidden;
}
.columnTab .row2 li {
    width: 50%;
    float: left;
}

.column-1 {
    overflow: hidden;
}
.column-1 h3{
    font: bold 14px/28px "Microsoft Yahei";
    border-top: 2px solid #BDC4CB;
    margin: 0 0 10px;
}
/*银行开户*/
.bank-kh li {
    float: left;
    width: 140px;
    height: 48px;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
    overflow: hidden;
}
.bank-kh h4 {
    color: #CB3932;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}

.bank-kh li:hover {
    background: #a9dba9;
    cursor: pointer;
}


/*详情页*/
.d-main{
    width: 998px;
    border: 1px solid #F0F0F0;
    border-top: 2px solid #487F9E;
    margin: 0 auto;
    overflow: hidden;
}
.d-main-left{
    float: left;
    margin-right: 10px;
    border-right: 1px solid #F0F0F0;
    overflow: hidden;
    width: 650px;
    padding: 0 27px 0 10px;
}
/*border*1 + margin*10*/
.d-main-right {
    width: 300px;
    float: right;
    overflow: hidden;
}
.d-article{
    width: 100%;
}
.d-article h1{
    width: 100%;
    margin: 30px 0;
    text-align: center;
    font-size: 24px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
}
.d-article-info{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px dotted #E8EAED;
    border-left: none;
    border-right: none;
    overflow: hidden;
}
.d-article-info span{
    float: left;
    margin-right: 20px;
}
.d-article-summary{
    width: 100%;
    padding: 10px;
    margin: 0 0 20px;
    background: #F5F5F5;
    line-height: 24px;
    color: #999;
}
.d-article-content{
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    color: #333;
    overflow: hidden;
}
.d-article-content pre{
    padding: 10px;
}
.d-article-content p {
    text-indent: 2em;
    font-size: 14px;
    margin-bottom: 30px;
}
.d-article-share{
    width: 100%;
    margin: 20px 0;
}
.d-article-mianze{
    margin-top: 10px;
}

/*在线解盘*/
.comm {
    padding: 6px 0;
    border-left: solid #f0f0f0;
    border-width: 1px 1px 0;
    overflow: hidden;
}
.comm h3 span a {
    color: #999;
}
.vip-jp {
    height: 226px;
    margin-bottom: 6px;
    overflow: hidden;
}
.vip-jp h3 {
    font: bold 14px/28px "Microsoft Yahei";
    padding: 0 8px 6px;
}
.vip-jp h3 span{
    font: bold 12px/28px "Microsoft Yahei";
    float: right;
}
.vip-jp ul {
    padding: 0 8px;
    overflow: hidden;
}
.vip-jp li {
    line-height: 24px;
    color: #505050;
}
.vip-jp li span {
    color: #ba3022;
}
/*通用样式*/

.t-line{
    border-top: 2px solid #bdc4cb;
}
.bold{
    font-weight: bold;
}
.red{
    color: #ba3022;
}

.tmp{
    background-color: #f5f5f5;
}

.color-white{
    background-color:#fff;
}


.tmp-content{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}